:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after { box-sizing: border-box; }

html, body, #root {
  min-height: 100%;
  background: #edeae4;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #edeae4;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}